body{
    margin-left: 5%;
    margin-right: 5%;
}

#aparecer {
    background: white;
    border-radius: 8px;
  }
  
  /* Estilos para todos los párrafos dentro de #content */
  #aparecer p {
    opacity: 0;
    transform: translateY(30px);
    transition: 
      opacity 0.9s cubic-bezier(.4,0,.2,1),
      transform 0.9s cubic-bezier(.4,0,.2,1);
    /* Transiciones suaves para opacidad y posición con curva de animación personalizada */

    will-change: opacity, transform;
    /* Optimiza el rendimiento indicando que estos dos estilos cambiarán */
  
    margin-bottom: 1%;
  }

  /* Estilos para párrafos que tienen la clase 'visible' */
  #aparecer p.visible {
    opacity: 1;
    transform: translateY(10);
  }


.botones{
    background-color: aliceblue;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 250px;
    margin-top: 35px;
    
}

.nav{
    font-size: 140%;
    margin-left: 20px;
}

.nav a{
    text-decoration: none;
    margin-right: 10px;
    transition: all 0.3s;
}

.nav a:hover{
    color: #007bff;
    text-decoration: underline;
}

#encabezado{
    background-color: wheat;
    height: 700px;
}

#primero{
    text-align: center;
    font-family: 'Arial', sans-serif;
    color: #333;
}

#primero h2{
    font-size: 220%;
    margin-top: 0;
    padding-top: 150px;
    font-weight: 500;
}

#primero p{
    font-size: 150%;
    margin-top: 20px;
    font-family: "Lato", sans-serif;
    padding: 5px;
}