html{
    scroll-behavior: smooth;
}

body{
    margin-left: 5%;
    margin-right: 5%;
    padding: 55px;
}
/* Estilos para el botón "Ir arriba" */
#ArribaBTN {
    position: fixed;                 
    bottom: 60px;                   
    right: 60px;                   
    display: none;                  /* Oculto inicialmente, se muestra al hacer scroll */
    background-color: #7bbdec;         /* Fondo oscuro para visibilidad */
    color: #ffffff;                   /* Texto blanco para contraste */
    border: none;                   /* Sin borde */
    padding: 10px 15px;             /* Espacio interno para tamaño adecuado */
    font-size: 20px;                /* Tamaño de fuente suficientemente grande para ser visible */
    border-radius: 50px;             /* Bordes redondeados para diseño moderno */
    cursor: pointer;                /* Cambia el cursor al pasar sobre el botón */
    z-index: 1000;                  /* Asegura que el botón esté sobre otros elementos */
    transition: background-color 0.3s ease;  /* Suaviza el cambio de color al hacer hover */
    height: 90px;
    width: 90px;
}

/* Cambio de color de fondo al pasar el cursor sobre el botón "Ir arriba" */
#ArribaBTN:hover {
    background-color: #137fcd;         /* Fondo más claro para feedback visual */
}


#header_fondo{
    background-color: #d3e9f9;
    height: 780px;
    width: 137%;
    margin-left: -300px;
    margin-top: -120px;
}

#tu_espacio{
    font-size: 250%;
    transform: translateY(70%) translateX(15%);
    padding-top: 150px;
    font-weight: 750;
    font-family: "Lato", sans-serif;
    text-align: center;
    color: #1f2937;
    text-align: justify;
}

.botones{
    background-color: #8dc9fa;
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 200px;
    height: 65px;
    margin-top: 270px;
    margin-left: 300px;
    
}

.abrir{
    font-size: 120%;
    color: black;
    font-family:  "Lato", sans-serif;
    text-decoration: none;
    margin-left: 30px;
    margin-top: 20px;
}

.abrir:hover{
    color: #496d94;
    text-decoration: underline;
}



/* Contenedor de la ventana emergente */
.modal {
    display: none; /* Oculta la ventana emergente por defecto */
    position: fixed; 
    z-index: 1; /* Asegura que la ventana esté encima de otros elementos */
    left: 0;
    top: 0;
    width: 100%; /*Ocupa toda la pantalla*/
    height: 100%; /*Cubre toda la altura de la pantalla*/
    overflow: auto; /*Agrega desplazamiento si el contenido es demasiado grande*/
    background-color: rgba(0,0,0,0.4); /* Fondo negro con opacidad */
}

/* ====== Estilos para el contenido de la ventana emergente ====== */

/* Contenedor del contenido dentro del modal */
.modal_contenido {
    background-color: #fff; /* Fondo blanco */
    margin: 9% auto; /* Centra verticalmente el modal */
    padding: 20px; /* Espaciado interno */
    border: 1px solid #888; /* Borde gris oscuro */
    width: 55%; /* Ancho del modal (80% del ancho de la pantalla) */
    height: 560px;
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 5px 15px rgba(0,0,0,0.3); /* Sombra para resaltar la ventana */
}

/* ====== Estilos para el botón de cerrar ====== */

/* Botón "X" para cerrar la ventana */
.cerrar-modal {
    color: #aaa; /* Color gris claro */
    float: right; /* Lo posiciona a la derecha */
    font-size: 28px; /* Tamaño de la "X" */
    font-weight: bold; /* Hace el texto más grueso */
}

/* Cambio de color cuando se pasa el mouse sobre el botón de cerrar */
.cerrar-modal:hover,
.cerrar-modal:focus {
    color: black; /* Cambia el color a negro */
    text-decoration: none; /* Elimina subrayado */
    cursor: pointer; /* Cambia el cursor a una mano */
}

#modal_imagen{
    height: 600px;
    transform: translateY(-20px) translateX(-20px);
    border-radius: 5px;
}
.elementos_modal{
    margin-left: 400px;
}

.elementos_modal h1{
    font-size: 220%;
    font-weight: 800;
    font-family: "Lato", sans-serif;
    text-align: center;
    color: #1f2937;
    margin-top: -570px;
    margin-left: -30px;
}

.elementos_modal p{
    font-size: 100%;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    color: #4b5563;
    text-align: justify;
    margin-left: 50px;
}

.campo{
    display:grid; 
    gap:5px
  }

  .elementos_modal label{
    font-weight:600;
    font-family: "Lato", sans-serif;
  }

  .elementos_modal input[type="text"],
  .elementos_modal input[type="email"],
  .elementos_modal input[type="password"]{
    padding:15px 15px;
    border:1px solid #a7a7a7; 
    border-radius:10px;
    background:#fff; 
    width: 80%;
    color: #4b5563;
    margin-bottom: 5px;
  }
  .elementos_modal input:focus{
    outline:2px solid #6aa9ff;
    border-color: #3b82f6;
  }
  
  /* Estilos para el botón de enviar dentro de la modal*/
  .boton2{
    border: 0.5px solid black; 
    cursor:pointer;
    padding:10px 10px; 
    height: 50px;
    border-radius:10px; 
    font-weight:200;
    background:#fff; 
    color:#0b0b0b; 
    box-shadow:var(--sombra);
    transition: all 0.3s;
    width: 140px;
    margin-top: 15px;
    margin-left: 110px;
    margin-bottom: 15px;
  }


.nav1 a{
    font-size: 100%;
    color: black;
    font-family:  "Lato", sans-serif;
    text-decoration: none;
    margin-left: 10px;
}

.nav1 a:hover{
    color: #4198f4;
    text-decoration: underline;
}
#aparecer {
    background: white;
    border-radius: 8px;
  }
  
  /* Estilos para todos los párrafos dentro de #content */
  #aparecer p {
    opacity: 0;
    transform: translateY(30px);
    transition: 
      opacity 0.9s cubic-bezier(.4,0,.2,1),
      transform 0.9s cubic-bezier(.4,0,.2,1);
    /* Transiciones suaves para opacidad y posición con curva de animación personalizada */

    will-change: opacity, transform;
    /* Optimiza el rendimiento indicando que estos dos estilos cambiarán */
  
    margin-bottom: 1%;
  }

  /* Estilos para párrafos que tienen la clase 'visible' */
  #aparecer p.visible {
    opacity: 1;
    transform: translateY(10);
  }


/*Estilos de iniciar sesion, regresar e Inicio en la modal*/
.nav{
    font-size: 140%;
    margin-left: 80px;
}

.nav a{
    text-decoration: none;
    margin-right: 10px;
    transition: all 0.3s;
}

.nav a:hover{
    color: #007bff;
    text-decoration: underline;
}


/*PARTE 1*/

.subtemas{
    font-size: 220%;
    margin-top: 0;
    padding-top: 150px;
    font-weight: 800;
    font-family: "Lato", sans-serif;
    text-align: center;
    color: #1f2937;
}

.palabra{
    font-size: 130%;
    margin-top: -30px;
    font-family: "Lato", sans-serif;
    text-align: center;
    font-weight: 400;
    color: #4b5563;
}

#cuadros{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}


#uno , #dos, #tres{
    background-color: #ba7979;
    height: 250px;
    width: 30%;
    margin-top: 80px;
    margin-left: 5px;
    border-radius: 15px;
    padding-top: 50px;
    text-align: center;
    box-shadow: 0 25px 25px #62616140;
    text-align: center;
    transition: 0.5s;
}

.iconos{
    margin-top: -10px;
}


.razones{
    font-size: 150%;
    font-weight: 450;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    color: #1f2937;
}

.rtexto{
    font-size: 100%;
    font-family: "Lato", sans-serif;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 400;
    color: #4b5563;
    margin-top: -25px;
    text-align: justify;
}

#uno {
    background-color: #E7F3FB;
}

#uno:hover{
    margin: 2px 2px;
    box-shadow: 0 25px 25px #00000040;
}

#dos {
    background-color: #FBE7F3;
}

#dos:hover{
    margin: 2px 2px;
    box-shadow: 0 25px 25px #00000040;
}

#tres {
    background-color: #E6F4EA;
}
 #tres:hover{
    margin: 2px 2px;
    box-shadow: 0 25px 25px #00000040;
}


/*PARTE 2*/
#explicacion{
    background-color:#eff6fb;
    height: 600px;
    margin-top: 100px;
    width: 137%;
    margin-left: -300px;
}

.exsubtema{
    font-size: 220%;
    margin-top: 0;
    transform: translateY(-40%) translateX(5%);
    padding-top: 150px;
    font-weight: 650;
    font-family: "Lato", sans-serif;
    text-align: center;
}

.palabra2{
    font-size: 130%;
    margin-top: -90px;
    margin-left: 105px;
    font-family: "Lato", sans-serif;
    text-align: center;
    font-weight: 400;
    color: #4b5563;
}

#funcionamieto{
    display: flex;
}

.razones{
    font-size: 130%;
    font-family: "Lato", sans-serif;
    font-weight: 520;
    color: #1f2937;

}

#paso1{
    margin-left: 450px;
    margin-top: 120px;
}

#cir1{
    border: 2px solid #e09fc6;
    border-radius: 90px;
}

#cir1_icono{
    margin-left: -9.2%;
}


#cir1_icono img{
   margin-bottom: 40px;
   margin-left: -4px;
}

#raz1{
    margin-top: 10px;
   margin-left: 15px;
}

#flecha{
    margin-left: 200px;
    transform: translateY(-150px);
}

#paso2{
    margin-left: 800px;
    margin-top: -280px;
}

#cir2{
    border: 2px solid #7ed6ba;
    border-radius: 90px;
}

#cir2_icono{
    margin-left: -14%;
    margin-bottom: 45px;
}

#flecha2{
    margin-left: 200px;
    transform: translateY(-190px);
}

#paso3{
    margin-left: 1150px;
    margin-top: -320px;
}

#cir3{
    border: 2px solid #f7d65f;
    border-radius: 90px;
}

#cir3_icono{
    margin-left: -25.5%;
    margin-bottom: 35px;
}


/*PARTE 3*/
.subtema3{
    font-size: 220%;
    margin-top: -60px;
    padding-top: 150px;
    font-weight: 650;
    font-family: "Lato", sans-serif;
    text-align: center;
}

.palabra3{
    font-size: 130%;
    margin-top: -30px;
    margin-left: 15px;
    font-family: "Lato", sans-serif;
    text-align: center;
    font-weight: 400;
    color: #4b5563;
}

.consejos{
    display: flex;
    margin-top: 100px;
}

#consejos_primeros{
    margin-left: 50px;
}

.razones2{
    font-size: 170%;
    font-weight: 450;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    color: #1f2937;
    margin-left: 20px;
}

.rtexto2{
    font-size: 100%;
    font-family: "Lato", sans-serif;
    padding-left: 50px;
    padding-right: 50px;
    font-weight: 400;
    color: #4b5563;
    margin-top: -25px;
    text-align: justify;
    margin-left: -30px;
}

#hr1{
    transform: translateY(60px) translateX(-40px);
    width: 80%;
    height: 2px;
    background-color: #7ed6ba;
    border: none;
}

#hr2{
    transform: translateY(60px) translateX(-40px);
    width: 80%;
    height: 2px;
    background-color: #f7d65f;
    border: none;
}

#hr3{
    transform: translateY(60px) translateX(-40px);
    width: 80%;
    height: 2px;
    background-color: #e09fc6;
    border: none;
}

#hr4{
    transform: translateY(60px) translateX(-40px);
    width: 80%;
    height: 2px;
    background-color: #6aa9ff;
    border: none;
}

/*PARTE 4 */

#parte4{
    margin-top: 250px;
    background-color:#eff6fb;
    height: 620px;
    width: 137%;
    margin-left: -300px;
}

#parte4_1{
    margin-left: 100px;
    transform: translateY(-20%);
}

#subtema4{
    font-size: 220%;
    margin-top: -120px;
    padding-top: 150px;
    font-weight: 800;
    font-family: "Lato", sans-serif;
    text-align: center;
    color: #1f2937;
}

#palabra4{
    font-size: 130%;
    margin-top: -30px;
    font-family: "Lato", sans-serif;
    text-align: center;
    font-weight: 400;
    color: #4b5563;
}


#parte4_botones{
    display: flex;
    margin-left: 440px;
    margin-top: 80px;
    
}

.boton {
    display: inline-block;
    padding: 5px 5px;
    cursor: pointer;
    border-radius: 25px;
    position: relative;
    background-color: #f3da80;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    height: 60px;
    width: 180px;
    margin-left: 120px;
 }

 .boton h3{
    font-size: 20px;
    font-weight: 600;
    font-family:  "Lato", sans-serif;
    color: rgb(0, 0, 0);
    margin-top: 18px;
    margin-left: 38px;
 }

.boton:hover {
    color: #fff;
 }

.boton::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color:  #f1c834;
    transform: translateX(-100%);
    transition: all .3s;
    z-index: -1;
}
   
.boton:hover::before {
    transform: translateX(0);
}

.parte4_iniciaSesion{
    margin-left: 800px;
    margin-top: -45px;
}

.parte4_iniciaSesion a{
    text-decoration: none;
    font-size: 140%;
    font-family:  "Lato", sans-serif;
    color: #1f2937;
    font-weight: 600;
}

.parte4_iniciaSesion a:hover{
    color: #4198f4;
    text-decoration: underline;
}

/*-- FOOTERS --*/
 
#fot2{
    width: 123.5%;
    transform: translateX(-140px);
}

#ola{
    margin-top: -14%;
  }
 
  .foot{
    background-color: #a2d9ff;
    padding: 10px;
    margin-top: -5%;
    margin-bottom: -10%;
    height: 350px;
    font-family: "Lato", sans-serif;
    z-index: 1;
  }
 
  #seccion1{
    display: inline-block;
    margin-right: 40%;
    margin-left: 5%;
  }
 
  #seccion1 h2{
    font-size: 180%;
  }
 
  #seccion1 h4{
    font-size: 100%;
    text-align: left;
    font-weight: 400;
  }
 
  #seccion2{
    display: flex;
    margin-right: 5px;
  }
  
 
  #seccion3{
    display: flex;
    margin-left: -5%;
    text-align: left;
    width: 900px;
   margin-right: 5%;
  }
  
  .espacio{
    margin-right: 10%;
    margin-left: 5%;
  }
 
  #instagram{
    height: 40px;
    width: 40px;
    transform: translateY(230%);
    margin-left: 92%;
    opacity: 0.7;
  }
 
 
  .footer_links{
    text-decoration: none;
    color:#1f2d3d;
  }
 
  .footer_links:hover{
     color: #e3e3e3;
  }