html{
    scroll-behavior: smooth;
}

body{
    margin-left: 5%;
    margin-right: 5%;
    padding: 55px;
}

#aparecer {
    background: white;
    border-radius: 8px;
  }
  
  /* Estilos para todos los párrafos dentro de #content */
  #aparecer p {
    opacity: 0;
    transform: translateY(30px);
    transition: 
      opacity 0.9s cubic-bezier(.4,0,.2,1),
      transform 0.9s cubic-bezier(.4,0,.2,1);
    /* Transiciones suaves para opacidad y posición con curva de animación personalizada */

    will-change: opacity, transform;
    /* Optimiza el rendimiento indicando que estos dos estilos cambiarán */
  
    margin-bottom: 1%;
  }

  /* Estilos para párrafos que tienen la clase 'visible' */
  #aparecer p.visible {
    opacity: 1;
    transform: translateY(10);
  }


.botones{
    background-color: aliceblue;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 250px;
    margin-top: 35px;
    
}

.nav{
    font-size: 140%;
    margin-left: 20px;
}

.nav a{
    text-decoration: none;
    margin-right: 10px;
    transition: all 0.3s;
}

.nav a:hover{
    color: #007bff;
    text-decoration: underline;
}

#encabezado{
    background-color: wheat;
    height: 700px;
}

.subtemas{
    font-size: 220%;
    margin-top: 0;
    padding-top: 150px;
    font-weight: 800;
    font-family: "Lato", sans-serif;
    text-align: center;
    color: #1f2937;
}

.palabra{
    font-size: 130%;
    margin-top: -30px;
    font-family: "Lato", sans-serif;
    text-align: center;
    font-weight: 400;
    color: #4b5563;
}

#cuadros{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}


#uno , #dos, #tres{
    background-color: #ba7979;
    height: 250px;
    width: 30%;
    margin-top: 80px;
    margin-left: 5px;
    border-radius: 15px;
    padding-top: 50px;
    text-align: center;
    box-shadow: 0 25px 25px #62616140;
    text-align: center;
    transition: 0.5s;
}

.iconos{
    margin-top: -10px;
}


.razones{
    font-size: 150%;
    font-weight: 450;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    color: #1f2937;
}

.rtexto{
    font-size: 100%;
    font-family: "Lato", sans-serif;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 400;
    color: #4b5563;
    margin-top: -25px;
    text-align: justify;
}

#uno {
    background-color: #E7F3FB;
}

#uno:hover{
    margin: 2px 2px;
    box-shadow: 0 25px 25px #00000040;
}

#dos {
    background-color: #FBE7F3;
}

#dos:hover{
    margin: 2px 2px;
    box-shadow: 0 25px 25px #00000040;
}

#tres {
    background-color: #E6F4EA;
}
 #tres:hover{
    margin: 2px 2px;
    box-shadow: 0 25px 25px #00000040;
}

#explicacion{
    background-color:#eff6fb;
    height: 600px;
    margin-top: 100px;
    width: 137%;
    margin-left: -300px;
}

.exsubtema{
    font-size: 220%;
    margin-top: 0;
    transform: translateY(-40%) translateX(5%);
    padding-top: 150px;
    font-weight: 650;
    font-family: "Lato", sans-serif;
    text-align: center;
}

.palabra2{
    font-size: 130%;
    margin-top: -90px;
    margin-left: 105px;
    font-family: "Lato", sans-serif;
    text-align: center;
    font-weight: 400;
    color: #4b5563;
}

#funcionamieto{
    display: flex;
}

.razones{
    font-size: 130%;
    font-family: "Lato", sans-serif;
    font-weight: 520;
    color: #1f2937;

}

#paso1{
    margin-left: 450px;
    margin-top: 120px;
}

#cir1{
    border: 2px solid #e09fc6;
    border-radius: 90px;
}

#cir1_icono{
    margin-left: -9.2%;
}


#cir1_icono img{
   margin-bottom: 40px;
   margin-left: -4px;
}

#raz1{
    margin-top: 10px;
   margin-left: 15px;
}

#flecha{
    margin-left: 200px;
    transform: translateY(-150px);
}

#paso2{
    margin-left: 800px;
    margin-top: -280px;
}

#cir2{
    border: 2px solid #7ed6ba;
    border-radius: 90px;
}

#cir2_icono{
    margin-left: -14%;
    margin-bottom: 45px;
}

#flecha2{
    margin-left: 200px;
    transform: translateY(-190px);
}

#paso3{
    margin-left: 1150px;
    margin-top: -320px;
}

#cir3{
    border: 2px solid #f7d65f;
    border-radius: 90px;
}

#cir3_icono{
    margin-left: -25.5%;
    margin-bottom: 35px;
}